[discord]
bot=true
token=

; server where all emojis are stored (emoji images are in misc/emojis)
; put id inside ""
emoji_server_id=""

[paths]
; The path for apng2gif used for help.apng2gif 
apng2gif=./misc/apng2gif
; The path for lottieconverter used for help.lottie2gif
lottieconverter=./misc/lottieconverter
; The path for gifski used for help.lottie2gif
gifski=/bin/gifski