[discord]
bot=true
token=

[paths]
; The path for apng2gif used for help.apng2gif 
apng2gif=misc\apng2gif.exe
; The path for Inkscape used for help.svg2png
inkscape=%programfiles%\Inkscape\bin\inkscape.com
; The path for puppeteer-lottie-cli used for help.lottie2gif
puppeteer_lottie=%appdata%\npm\puppeteer-lottie.cmd
